html * {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
}