$color-body-bg: #2F2F2F;

html * {
  font-size: 10px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
}

body {
  background: $color-body-bg;
}