@use './navbar.scss' as navbar;
$width-sm: 757px;
$width-md: 978px;
$width-lg: 1200px;

@media (max-width: 978px) {
  #menu-mobile {
    display: flex;
  }

  .nav-button-container {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    flex: unset !important;
    right: -100%;
    top: navbar.$navbar-height;
    background: navbar.$color-nav-bg;
  }

  .active {
    right: 0;
  }
}