section.skills {
  display: flex;
  height: 500px;
  column-gap: 1px;

  & ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1px;
    flex-basis: 50%;

    & li {
      display: flex;
      width: 100%;
      flex-basis: 5rem;
      color: #FFF;
      align-items: center;
      box-shadow: 0 0 10px -3px #c3c4c7;
      border-radius: .8rem;
      height: fit-content;
      justify-content: center;
    }
  }
}