section.skills {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-template-rows: 2fr 10fr;
  column-gap: 1px;

  & h3 {
    text-align: center;
    grid-column: 1 / 4;
    color: #FFF;
  }

  & ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1px;
    flex-basis: 50%;

    & li {
      display: flex;
      width: 100%;
      flex-basis: 5rem;
      color: #FFF;
      align-items: center;
      height: fit-content;
      justify-content: center;
    }
  }
}