section.welcome {
  display: flex;
  min-height: 32rem;
  width: 100%;

}

figure,
div.text-content {
  display: flex;
  flex-basis: 50%;
  width: 100%;
}

figure {
  flex-direction: column;
}

figcaption,
figcaption * {
  font-size: 1.6rem;
  color: #5d5d5d;

  & a {
    color: #FFF;
    transition: color .25s ease;

    &:hover {
      color: #4E4E4E;
    }
  }
}